body{
  display: flex;
  background-color: #03160a;
}

#spider-app{
  display: flex;
  flex-wrap: wrap;

  
}
.card{
display: flex;
flex-basis: 33.333%;
justify-content: space-between;
background-image: url("images/shrub.jpg");
background-size: cover;
border-radius: 29px;
}

.card-body{
  color:#e9edc9 ;
  font-family: 'Peralta', cursive;
  text-shadow:0 0 5px #0a0f03;
}


img{
  height: 200px;
  border:px solid #03160a;
  z-index: 1;
}


#sold-out{
  position: absolute;
  z-index: 2;
  left: 0px;
}


.card-title{
  border: 1px solid lightblue;
  border-radius: 29px;
  padding: 4px;
}


.top{
  text-align: center;
}


.card-text{
  text-align: justify;
}


.middle{
  text-align: center;
font-weight: bold;
}


#avail{
  position: sticky;
  text-align: center;
  background-color: darkgray;
  color: yellow;
  width: 100%;
}


.bottom{
  display: flex;
  text-align: center;

}
