body{
  display: flex;
  background-color: #C8AA86;
  justify-content: center;
}

#spider-app{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  font-family: 'Peralta', cursive;
  background-color: #E6D4BC;
  color: #565264;
  flex-basis: 33.333%;
  border-radius: 29px;
  margin: 20px;
  max-width: 300px;
  box-shadow: 0 0 20px #25180B;
  color: #25180B;
  text-align: center;
}

header{
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#top{
  text-align: center;
}

.spider-type{
  border: 1px solid lightblue;
  border-radius: 29px;
  padding: 4px;
  background-color:#C8AA86;
}

img{
  position: relative;
  height: 200px;
  z-index: 1;
}

.sold-out-img{
  position: absolute;
  z-index: 2;
  top:100px;
  left: -10px;
  max-width: 100%;
}

.description{
  text-align: justify;
  padding: 16px;
  font-size: small;
  height: fit-content;
  max-height: 150px;
}

#avail{
  text-align: center;
  background-color: darkgray;
  color: yellow;
}

#information{
  text-align: center;
}
footer{
  padding-bottom: 10px;
}
#pricing{
  justify-content: end;
  padding-top: 10px;
  height: fit-content;
}
