body{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #03160a;
 
}

.card{
display: flex;
border: none;
-webkit-border-radius: 45px;
border-radius: 45px;
background: #57755b;
-webkit-box-shadow: 17px 17px 63px #232f24, -17px -17px 63px #8bbb92;
box-shadow: 17px 17px 63px #232f24, -17px -17px 63px #8bbb92;
margin-bottom: 40px;
}
.card-body{
  border-radius:29px ;
  background-image: url("images/shrub.jpg");
  background-size: cover;
  color:#e9edc9 ;
  font-family: 'Peralta', cursive;
  text-shadow:0 0 5px #0a0f03;
  padding: 0;
}
img{
  border:px solid #03160a;
}
#sold-out{
  position: relative;
  top: -190px;
  padding: -100;
}
.card-title{
  border: 1px solid lightblue;
  border-radius: 29px;
  padding: 4px;
}
.top{
  text-align: center;
}
.card-text{
  text-align: justify;
}
.middle{
  text-align: center;
font-weight: bold;
}
#avail{
  text-align: center;
  background-color: darkgray;
  color: yellow;
  width: 100%;
}
.bottom{
  text-align: center;
}
